@use "sass:map";
@use "colors" as *;
@use "settings" as *;

.stats {
  ul li {
    margin: 0;
    list-style-type: none;
  }

  ul {
    display: grid;
    column-gap: calc(var(#{$css-var-prefix}spacing) * 4);
    row-gap: calc(var(#{$css-var-prefix}spacing) * 3);
    margin: 0;
    padding: 0;

    // @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
    // grid-template-columns: 1fr 1fr 1fr;
    // column-gap: var(#{$css-var-prefix}spacing);
    // }

    @media (min-width: map.get(map.get($breakpoints, "xl"), "breakpoint")) {
      grid-template-columns: auto auto auto;
      column-gap: calc(var(#{$css-var-prefix}spacing) * 4);
      width: fit-content;
      margin: 0;
    }
  }

  ul li {
    strong {
      display: block;
      color: var(#{$css-var-prefix}stats-color);
      font-size: 2rem;
      line-height: 1.25;
      font-family: "Figtree", var(#{$css-var-prefix}font-family);
      text-align: center;

      @media (min-width: map.get(map.get($breakpoints, "xl"), "breakpoint")) {
        font-size: 1.75rem;
        text-align: left;
      }
    }

    span {
      display: block;
      text-align: center;

      // @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
      // }

      @media (min-width: map.get(map.get($breakpoints, "xl"), "breakpoint")) {
        font-size: 0.875em;
        text-align: left;
      }

      svg {
        display: inline-block;
        width: auto;
        height: 1em;
        margin-right: calc(var(#{$css-var-prefix}spacing) * 0.25);
        color: var(#{$css-var-prefix}h1-color);

        &.github-logo {
          transform: translateY(-0.1875em);
        }

        &.jsdelivr-logo {
          height: 1.25em;
          transform: translateY(-0.0625em);
        }
      }
    }
  }
}
