// Colors schemes
@use "default/light";
@use "default/dark";

// Fonts
@use "../../../../../node_modules/@fontsource/fira-code/scss/mixins" as FiraCode;
@use "../../../../../node_modules/@fontsource/figtree/scss/mixins" as FigTree;

// Styles
@use "default/styles";

/**
 * Color schemes
 */

// Light color scheme (Default)
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  @include light.theme;
}

// Dark color scheme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark.theme;
  }
}

// Dark color scheme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  @include dark.theme;
}

/**
 * Fonts
 */

@include FiraCode.fontFace(
  $weight: 400,
  $display: swap,
  $fontDir: "../../../node_modules/@fontsource/fira-code/files"
);

@include FigTree.fontFace(
  $weight: 700,
  $display: swap,
  $fontDir: "../../../node_modules/@fontsource/figtree/files"
);
