node_modules

# Remix
.cache
public/build
.env

# Cloudflare
functions/\[\[path\]\].js
functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt
.dev.vars
.wrangler

# Styles
app/styles/css/*
!app/styles/css/postcss.config.cjs

# Pico v1 docs
public/docs

# System files
.DS_Store
Thumbs.db

