@use "colors" as *;
@use "settings" as *;

@mixin theme {
  // Demo border gradient
  #{$css-var-prefix}demo-border-gradient-colors:
    transparent 33%,
    mix($azure-150, $fuchsia-150, 25%),
    mix($azure-150, $purple-150, 30%),
    mix($azure-150, $violet-150, 35%),
    mix($azure-150, $indigo-150, 40%);

  // Cards
  #{$css-var-prefix}card-box-shadow: var(#{$css-var-prefix}box-shadow);
  #{$css-var-prefix}card-component-outline-width: 0.0625rem;
  #{$css-var-prefix}card-component-outline-color: transparent;

  // Mark gradient
  #{$css-var-prefix}mark-gradient: linear-gradient(
    to right,
    mix($slate-650, $fuchsia-650, 25%),
    mix($slate-650, $purple-650, 30%),
    mix($slate-650, $violet-650, 35%),
    mix($slate-650, $indigo-650, 40%)
  );

  // Stats color
  #{$css-var-prefix}stats-color: mix($azure-600, $slate-600);

  // Features icon color
  #{$css-var-prefix}features-icon-color: mix($slate-550, $purple-550, 30%);

  // Comparison gradients
  #{$css-var-prefix}comparison-gradient-valid: linear-gradient(
    var(#{$css-var-prefix}comparison-gradient-direction, to bottom),
    mix($cyan-300, $slate-300, 25%),
    mix($jade-350, $slate-350, 37.5%),
    mix($green-400, $slate-400, 50%)
  );
  #{$css-var-prefix}comparison-gradient-invalid: linear-gradient(
    var(#{$css-var-prefix}comparison-gradient-direction, to bottom),
    mix($pumpkin-300, $slate-300, 50%),
    mix($orange-350, $slate-350, 62.5%),
    mix($red-400, $slate-400, 75%)
  );

  // Language badges
  $html-color: $orange-600;
  $react-color: mix(mix($azure-600, $cyan-600), $slate-400, 75%);
  $sass-color: mix($fuchsia-600, $slate-600, 75%);
  $javascript-color: mix($amber-600, $pumpkin-600);
  $css-color: $blue-600;
  $background-color-opacity: 0.125;
  #{$css-var-prefix}badge-html-background-color: rgba($html-color, $background-color-opacity);
  #{$css-var-prefix}badge-html-color: $html-color;
  #{$css-var-prefix}badge-react-background-color: rgba($react-color, $background-color-opacity);
  #{$css-var-prefix}badge-react-color: $react-color;
  #{$css-var-prefix}badge-sass-background-color: rgba($sass-color, $background-color-opacity);
  #{$css-var-prefix}badge-sass-color: $sass-color;
  #{$css-var-prefix}badge-javascript-background-color: rgba(
    $javascript-color,
    $background-color-opacity
  );
  #{$css-var-prefix}badge-javascript-color: $javascript-color;
  #{$css-var-prefix}badge-css-background-color: rgba($css-color, $background-color-opacity);
  #{$css-var-prefix}badge-css-color: $css-color;
}
