@use "sass:map";
@use "colors" as *;
@use "settings" as *;

/**
 * Docs: Code
 */

.token {
  &.tag:not(.punctuation),
  &.property {
    color: var(#{$✨}code-tag);
  }
  &.tag.attr-name:not(.punctuation),
  &.selector:not(.punctuation),
  &.keyword,
  &.boolean,
  &.function {
    color: var(#{$✨}code-attr);
  }
  &.tag.attr-value:not(.attr-equals),
  &.string {
    color: var(#{$✨}code-value);
  }
  &.comment:not(.punctuation),
  &.doctype {
    color: var(#{$✨}code-comment);
  }
}

.code {
  position: relative;

  > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.375rem 0.5rem;
    font-size: 16px;
    opacity: 0;
    transition: background-color var(#{$✨}transition), border-color var(#{$✨}transition),
      color var(#{$✨}transition), box-shadow var(#{$✨}transition), opacity var(#{$✨}transition);
  }

  &:hover {
    button {
      opacity: 1;
    }
  }

  code {
    @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
      font-size: 16px;
    }
  }
}

.code.small {
  > button {
    top: 50%;
    transform: translateY(-50%);
  }
}

p > code {
  color: inherit;
}

article footer:has(.code) {
  position: relative;

  &:hover {
    button {
      opacity: 1;
    }
  }

  .code {
    position: initial;
  }
}
