@use "sass:map";
@use "settings" as *;

// Override responsive spacing for landmarks and sections on xxl
@media (min-width: map.get(map.get($breakpoints, "xxl"), "breakpoint")) {
  #{$semantic-root-element} > header,
  #{$semantic-root-element} > main,
  #{$semantic-root-element} > footer,
  section {
    #{$css-var-prefix}block-spacing-vertical: calc(var(#{$css-var-prefix}spacing) * 4);
  }
}
