@use "settings" as *;

/**
 * Footer
 */

body {
  > footer {
    .container {
      svg {
        width: 2rem;
        height: 2rem;
        margin-bottom: var(#{$css-var-prefix}spacing);
      }

      p {
        &:first-of-type {
          margin-bottom: 0.25em;
          font-size: 16px;
        }

        &:not(:first-of-type) {
          margin-bottom: 0.125em;
          color: var(#{$css-var-prefix}muted-color);
          font-size: 14px;
        }
      }
    }
  }
}
