@use "sass:map";
@use "colors" as *;
@use "settings" as *;

/**
 * Header
 */

html {
  #{$css-var-prefix}header-height: calc(4.5rem + var(#{$css-var-prefix}border-width));
}

body {
  > header {
    z-index: 4;
    position: relative;
    padding: 0.5rem 0;
    border-bottom: var(#{$css-var-prefix}border-width) solid transparent;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > a {
        margin: calc(var(#{$css-var-prefix}spacing) * -0.125)
          calc(var(#{$css-var-prefix}spacing) * -0.25);
        padding: calc(var(#{$css-var-prefix}spacing) * 0.125)
          calc(var(#{$css-var-prefix}spacing) * 0.25);
        border-radius: var(#{$css-var-prefix}border-radius);

        svg.pico-logo {
          transform: translateY(-10%);
        }
      }

      nav {
        svg {
          display: inline-block;
          width: auto;
          height: 1.125rem;
          transform: translateY(-0.0625rem);

          &.theme-toggle {
            transform: scale(1.125) translateY(-0.0625rem);
          }
        }

        ul {
          // Hide docs link on mobile
          li.hide-before-sm {
            @media (max-width: calc(#{map.get(map.get($breakpoints, "sm"), "breakpoint")} - 1px)) {
              display: none;
            }
          }

          // Icons separator
          @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
            &.icons {
              &::before {
                display: block;
                height: 1.125rem;
                margin-inline: var(#{$css-var-prefix}nav-element-spacing-horizontal);
                border-left: var(#{$css-var-prefix}border-width) solid
                  var(#{$css-var-prefix}form-element-border-color);
                content: "";
              }
            }
          }
        }

        // Dropdown menu
        details[class="dropdown"] {
          margin: calc(var(#{$css-var-prefix}nav-element-spacing-vertical) * -1)
            calc(var(#{$css-var-prefix}nav-element-spacing-horizontal) * -1);

          &:not(:focus-within) summary,
          summary:not(:hover, :focus, :focus-visible) {
            border-color: transparent;
            background-color: transparent;
          }

          summary {
            &:hover,
            &:focus,
            &:focus-visible {
              color: var(#{$css-var-prefix}secondary-hover);
            }

            &:focus {
              border: var(#{$css-var-prefix}border-width) solid
                var(#{$css-var-prefix}dropdown-border-color);
              box-shadow: none;
            }

            &:focus-visible {
              box-shadow: 0 0 0 var(#{$css-var-prefix}outline-width)
                var(#{$css-var-prefix}primary-focus);
            }

            &::after {
              transform: rotate(0) translate(0.2rem) translateY(0.0625rem);
            }
          }

          ul {
            li {
              a {
                svg {
                  stroke: var(#{$css-var-prefix}current-version-checkmark);
                  margin-left: 0.25rem;
                  transform: scale(0.75);
                }
              }
            }
          }
        }
      }
    }

    // Fixed header
    &.is-fixed-above-lg {
      @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
        z-index: 2;
        position: sticky;
        top: 0;
        backdrop-filter: blur(1rem);
        background-color: var(#{$css-var-prefix}header-background);
        transition:
          border-top-color 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;

        &.is-fixed {
          border-bottom-color: var(#{$css-var-prefix}header-border-color);
          box-shadow: var(#{$css-var-prefix}card-box-shadow);
        }
      }
    }
  }
}
