@use "sass:map";
@use "settings" as *;

body > main.examples > .examples-hero {
  margin-top: calc(var(#{$css-var-prefix}homepage-spacing-vertical) / 2);
  margin-bottom: 0;

  @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
    text-align: center;
  }
}
