@use "colors" as *;
@use "settings" as *;

/**
 * Docs: Card component
 */

article {
  &.component {
    outline-color: var(#{$✨}card-component-outline-color);
    outline-style: solid;
    outline-width: var(#{$✨}card-component-outline-width);
    background-color: transparent;
  }
}
