@use "settings" as *;

.chapter {
  // width: fit-content;
  // background-clip: text;
  color: var(#{$css-var-prefix}chapter-color);
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
