@use "colors" as *;

/**
 * Logo
 */

svg {
  &.pico-logo,
  &.pico-icon {
    width: auto;
    height: 2.25rem;

    &.animated {
      path {
        &:first-of-type,
        &:nth-of-type(2),
        &:nth-of-type(3) {
          animation-duration: var(--animate-duration);
          animation-timing-function: ease-in-out;
          animation-delay: var(--animate-delay);
          animation-fill-mode: both;
          animation-name: sparkle;
        }

        &:nth-of-type(3) {
          --animate-duration: 0.5s;
          --animate-delay: 0s;
          transform-origin: 309px 78px;
        }

        &:first-of-type {
          --animate-duration: 0.75s;
          --animate-delay: 0.125s;
          transform-origin: 345px 48px;
        }

        &:nth-of-type(2) {
          --animate-duration: 0.5s;
          --animate-delay: 0.375s;
          transform-origin: 297px 18px;
        }
      }
    }
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  20% {
    transform: scale(1.25);
    opacity: 1;
  }

  45% {
    transform: scale(1);
  }

  55% {
    transform: scale(1.25);
    opacity: 0.75;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}
