@use "sass:map";
@use "settings" as *;

article.color-picker {
  > header {
    grid-gap: var(--pico-block-spacing-horizontal);
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    a {
      display: block;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    a,
    a:is(:hover, :active, :focus) {
      margin-bottom: 0;
      padding: 0;
      border: none;
      box-shadow: none;
    }

    @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
      grid-gap: calc(var(--pico-block-spacing-horizontal) * 0.5);
      grid-template-columns: repeat(10, 1fr);
    }

    @media (min-width: map.get(map.get($breakpoints, "xl"), "breakpoint")) {
      grid-gap: 0;
      grid-template-columns: repeat(20, 1fr);
      padding: 0;

      a {
        border-radius: 0;
      }
    }
  }

  h3 {
    color: var(#{$✨}primary);
  }
}
