@use "sass:map";
@use "settings" as *;

dialog {
  &.example {
    z-index: inherit;
    position: relative;
    min-height: inherit;
    margin: 0 calc(var(#{$css-var-prefix}spacing) * -1) var(#{$css-var-prefix}block-spacing-vertical)
      calc(var(#{$css-var-prefix}spacing) * -1);
    inset: inherit;

    @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
      margin: 0;
      margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);
    }

    > article {
      animation: none;
    }
  }
}
