@use "sass:map";
@use "settings" as *;

dialog.color {
  #{$✨}font-size: 0.875rem;
  #{$✨}grid-spacing-vertical: var(#{$✨}spacing);
  padding: 0;

  article {
    p {
      color: inherit;
    }

    p,
    pre {
      margin-bottom: 0;
    }

    header {
      font-weight: bold;
      transition: color var(#{$✨}transition), background-color var(#{$✨}transition);

      @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
        aspect-ratio: 4/1;
      }

      a {
        &.close {
          background-image: none;
          background-position: inherit;
          background-size: inherit;
          background-repeat: inherit;
          color: inherit;
        }
      }
    }

    .grid {
      @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
        grid-template-columns: min-content auto;
        align-items: center;
        white-space: nowrap;
      }
    }
  }
}
