@use "sass:map";
@use "settings" as *;

dialog.color {
  #{$css-var-prefix}font-size: 0.875rem;
  padding: 0;

  article {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 var(#{$css-var-prefix}border-width) var(#{$css-var-prefix}secondary-focus),
      0 -0 6rem 0 var(#{$css-var-prefix}glowing-color), var(#{$css-var-prefix}box-shadow);
    transition: box-shadow var(#{$css-var-prefix}transition);

    @if map.get($breakpoints, "lg") {
      @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
        max-width: map.get(map.get($breakpoints, "lg"), "viewport");
      }
    }

    p {
      color: inherit;
    }

    p,
    pre {
      margin-bottom: 0;
    }

    header {
      font-weight: bold;
      transition: color var(#{$css-var-prefix}transition), background-color var(#{$css-var-prefix}transition);

      a {
        &.close {
          z-index: 1;
          position: relative;
          height: inherit;
          background-image: none;
          background-position: inherit;
          background-size: inherit;
          background-repeat: inherit;
          color: inherit;
          line-height: initial;
        }
      }

      hgroup {
        margin-bottom: 0;

        h3 {
          color: inherit;
        }

        p {
          #{$css-var-prefix}font-size: 0.875em;
          opacity: 0.5;
        }
      }
    }

    pre {
      #{$css-var-prefix}block-spacing-vertical: var(#{$css-var-prefix}spacing);
    }

    .grid {
      .code {
        margin-bottom: 0;
      }

      @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
        grid-template-columns: min-content auto;
        align-items: center;
        white-space: nowrap;
      }
    }
  }
}
