@use "sass:map";
@use "settings" as *;

:is(h1, h2, h3, h4, h5, h6) {
  position: relative;

  > a[id] {
    padding-left: calc(var(#{$css-var-prefix}spacing) * 0.5);
    font-weight: normal;
    text-decoration: none;
    opacity: 0;
    transition: color var(#{$css-var-prefix}transition) opacity var(#{$css-var-prefix}transition);

    @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
      position: absolute;
      left: 0;
      padding-right: calc(var(#{$css-var-prefix}spacing) * 0.5);
      transform: translateX(-100%);
    }

    &:focus-visible {
      box-shadow: none;
      color: var(#{$css-var-prefix}primary);
      opacity: 1;
    }
  }

  &:hover {
    > a[id] {
      opacity: 0.25;

      &:hover {
        opacity: 0.5;
      }

      &:focus-visible {
        opacity: 1;
      }
    }
  }
}
