@use "sass:map";
@use "settings" as *;

nav[role="tablist"] {
  #{$✨}nav-element-spacing-horizontal: calc(var(#{$✨}border-width) * 2);
  margin-top: calc(var(#{$✨}nav-element-spacing-vertical) * -0.5);
  margin-bottom: calc(var(#{$✨}nav-element-spacing-vertical) * 2);
  border-bottom: 1px solid var(#{$✨}muted-border-color);

  li {
    padding-bottom: 0;

    [role="button"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
