@use "sass:map";
@use "settings" as *;

/**
 * Docs: Main
 */

body > {
  main {
    @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
      grid-column-gap: 2rem;
      display: grid;
      grid-template-columns: 12rem auto;
    }
  }
}
