@use "sass:map";
@use "settings" as *;

/**
 * Docs: Table of Contents
 */

main {
  > aside#table-of-contents {
    details {
      border-bottom: none;

      summary {
        pointer-events: none;

        &::after {
          display: none;
        }
      }

      ul {
        li {
          @media (max-width: calc(#{map.get(map.get($breakpoints, "xl"), "breakpoint")} - 1px)) {
            a {
              // Bring back underline for small devices
              &:not(:hover) {
                text-decoration: underline;
                text-decoration-color: var(#{$css-var-prefix}secondary-underline);
              }

              // Override aria-current link styles for small devices
              &[aria-current] {
                border-color: transparent;
                color: var(#{$css-var-prefix}secondary);
                font-weight: normal;
                text-decoration-color: var(#{$css-var-prefix}secondary-underline);

                &:hover {
                  border-color: var(#{$css-var-prefix}secondary-underline);
                  color: var(#{$css-var-prefix}secondary-hover);
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
