@use "sass:map";
@use "settings" as *;

/**
 * Docs: Document
 */

main {
  > [role="document"] {
    section {
      margin-bottom: calc(var(#{$css-var-prefix}spacing) * 3);
    }

    article,
    article form {
      > *:last-child:not(footer, .grid) {
        margin-bottom: 0;
      }
    }

    .edit-on-github {
      svg {
        width: auto;
        height: 1rem;
        margin-right: calc(var(#{$css-var-prefix}spacing) * 0.25);
        transform: translateY(-0.0625rem);
      }
    }
  }
}
