@use "sass:map";
@use "settings" as *;

/**
 * Docs: Main
 */

body {
  #{$✨}main-top-offset: 0rem;

  > header {
    &.is-fixed-above-lg {
      + main {
        #{$✨}main-top-offset: var(#{$✨}header-height);
      }
    }
  }

  > main {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 2rem;

    > * {
      min-width: 0;
      margin-bottom: 0;
    }

    @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 10rem 1fr;
      grid-template-areas:
        "menu header"
        "menu body";
      column-gap: 3rem;
      row-gap: 3rem;

      // Hack for Firefox, which doesn't support the `:has()` pseudo-class
      &.has-table-of-contents {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 10rem 1fr;
        grid-template-areas:
          "menu header"
          "menu table-of-content"
          "menu body";
      }

      &:has(aside#table-of-contents) {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 10rem 1fr;
        grid-template-areas:
          "menu header"
          "menu table-of-content"
          "menu body";
      }

      > nav[aria-label="breadcrumb"] {
        display: none;
      }

      > aside {
        > nav {
          position: sticky;
          top: calc(var(#{$✨}main-top-offset) + 2rem);
          transition: top var(#{$✨}transition);
          transition-delay: 0.05s;
        }
      }

      > aside#documentation-menu {
        grid-area: menu;
      }

      > hgroup {
        grid-area: header;
      }

      > aside#table-of-contents {
        grid-area: table-of-content;
      }

      > [role="document"] {
        grid-area: body;
      }
    }

    @media (min-width: map.get(map.get($breakpoints, "xl"), "breakpoint")) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 10rem 1fr;
      grid-template-areas:
        "menu header"
        "menu body";
      row-gap: 4rem;

      // Hack for Firefox, which doesn't support the `:has()` pseudo-class
      &.has-table-of-contents {
        grid-template-rows: auto 1fr;
        grid-template-columns: 10rem 1fr 10rem;
        grid-template-areas:
          "menu header table-of-content"
          "menu body table-of-content";
      }

      &:has(aside#table-of-contents) {
        grid-template-rows: auto 1fr;
        grid-template-columns: 10rem 1fr 10rem;
        grid-template-areas:
          "menu header table-of-content"
          "menu body table-of-content";
      }

      > aside#documentation-menu {
        grid-area: menu;
      }

      > hgroup {
        grid-area: header;
      }

      > aside#table-of-contents {
        grid-area: table-of-content;
      }

      > [role="document"] {
        grid-area: body;
      }
    }

    @media (min-width: map.get(map.get($breakpoints, "xxl"), "breakpoint")) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 10rem 1fr 10rem;
      grid-template-areas:
        "menu header table-of-content"
        "menu body table-of-content";
      row-gap: 5rem;
    }
  }
}

html {
  scroll-padding-top: calc(var(#{$✨}breadcrumb-height) + 1rem);

  @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
    scroll-padding-top: calc(var(#{$✨}header-height) + 2rem - 0.375rem);
  }
}
