@use "sass:map";
@use "settings" as *;

/**
 * Docs: Aside
 */

main {
  > aside {
    #{$css-var-prefix}font-size: 16px;
    font-size: var(#{$css-var-prefix}font-size);

    nav {
      details {
        &:last-of-type {
          margin-bottom: 0;
        }

        summary {
          font-weight: 600;
          line-height: var(#{$css-var-prefix}line-height);

          &:focus-visible {
            &:not([role]) {
              outline-offset: 0;
            }
          }

          &::after {
            height: calc(1em * var(#{$css-var-prefix}line-height));
          }

          @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            &:not(:focus-visible):after {
              display: none;
            }
          }
        }

        &[open] {
          > summary {
            margin-bottom: calc(var(#{$css-var-prefix}spacing) * 0.5);

            &:not([role]):not(:focus) {
              color: inherit;
            }
          }
        }

        ul {
          border-left: var(#{$css-var-prefix}border-width) solid
            var(#{$css-var-prefix}muted-border-color);

          &:first-of-type {
            margin: 0;
            padding: 0;
          }

          li {
            margin: 0;
            padding: calc(var(#{$css-var-prefix}nav-element-spacing-vertical) * 0.25) 0;

            a {
              margin: 0;
              margin-left: calc(var(#{$css-var-prefix}border-width) * -1);
              padding: 0;
              padding-left: calc(var(#{$css-var-prefix}nav-element-spacing-horizontal) * 1.5);
              border-left: var(#{$css-var-prefix}border-width) solid transparent;
              border-radius: 0;
              font-weight: 400;
              transition:
                background-color var(#{$css-var-prefix}transition),
                color var(#{$css-var-prefix}transition),
                text-decoration var(#{$css-var-prefix}transition),
                box-shadow var(#{$css-var-prefix}transition),
                border-color var(#{$css-var-prefix}transition),
                font-weight var(#{$css-var-prefix}transition);

              &:hover {
                border-color: var(#{$css-var-prefix}secondary-underline);
              }

              &[aria-current] {
                border-color: var(#{$css-var-prefix}primary);
                color: var(#{$css-var-prefix}primary-hover);
                font-weight: 600;

                &:hover {
                  text-decoration: none;
                }
              }

              mark {
                border-radius: 0.125rem;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
                vertical-align: text-bottom;
              }
            }
          }
        }
      }
    }
  }
}
