@use "sass:map";
@use "settings" as *;

/**
 * Docs: Breadcrumb
 */

html {
  #{$css-var-prefix}breadcrumb-height: calc(3.5rem + var(#{$css-var-prefix}border-width));
}

main {
  > [aria-label="breadcrumb"] {
    z-index: 3;
    position: sticky;
    top: -1px;
    margin: 0 calc(var(#{$css-var-prefix}spacing) * -1);
    margin-top: calc(var(--pico-block-spacing-vertical) / 2);
    padding: 0 var(#{$css-var-prefix}spacing);
    border-bottom: var(#{$css-var-prefix}border-width) solid transparent;
    background-color: var(#{$css-var-prefix}background-color);
    transition:
      border var(#{$css-var-prefix}transition),
      box-shadow var(#{$css-var-prefix}transition);

    @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) and (max-width: calc(#{map.get(map.get($breakpoints, "lg"), "breakpoint")} - 1px)) {
      margin: 0 calc(((100vw - map.get(map.get($breakpoints, "sm"), "viewport")) / 2) * -1);
      padding: 0 calc((100vw - map.get(map.get($breakpoints, "sm"), "viewport")) / 2);
    }

    @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) and (max-width: calc(#{map.get(map.get($breakpoints, "lg"), "breakpoint")} - 1px)) {
      margin: 0 calc(((100vw - map.get(map.get($breakpoints, "md"), "viewport")) / 2) * -1);
      padding: 0 calc((100vw - map.get(map.get($breakpoints, "md"), "viewport")) / 2);
    }

    &.is-sticky {
      border-bottom-color: var(#{$css-var-prefix}header-border-color);

      box-shadow: var(#{$css-var-prefix}card-box-shadow);
    }

    ul {
      max-width: 100%;
      li {
        flex-shrink: 0;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(:last-child) {
          &::after {
            content: ">";
          }
        }

        &:first-child {
          a {
            color: var(#{$css-var-prefix}secondary);
            cursor: pointer;

            &:hover {
              color: var(#{$css-var-prefix}secondary-hover);
            }
          }
        }

        &:last-child {
          flex-shrink: 1;
        }

        @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
          &:first-child {
            &::after {
              display: inline-block;
            }
          }
        }
      }
    }

    svg {
      width: auto;
      height: 1.125rem;
      margin-right: var(#{$css-var-prefix}nav-link-spacing-horizontal);
      transform: translateY(-0.0625rem);
    }

    a {
      &[aria-current] {
        pointer-events: auto;
      }
    }
  }
}
