@use "sass:map";
@use "settings" as *;

/**
 * Docs: Header
 */

main {
  > hgroup {
    p.chapter {
      margin-bottom: calc(var(#{$✨}spacing) * 0.25);
    }

    h1 {
      margin-bottom: calc(var(#{$✨}spacing) * 0.5);
      font-size: 3rem;
      line-height: 1;
      font-family: "Figtree", var(#{$✨}font-family);
    }
  }
}
