@use "sass:map";
@use "settings" as *;

/**
 * Docs: Aside
 */

main {
  > aside {
    #{$✨}font-size: 16px;
    font-size: var(#{$✨}font-size);

    nav {
      details {
        &:last-of-type {
          margin-bottom: 0;
        }

        &:not([role="list"], :has(summary[role="button"])) {
          @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            padding-bottom: 0;
            border-bottom: 0;
          }
        }

        summary {
          font-weight: 600;
          line-height: var(#{$✨}line-height);

          &:focus-visible {
            &:not([role]) {
              outline-offset: 0;
            }
          }

          &::after {
            height: calc(1em * var(#{$✨}line-height));
          }

          @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            &:not(:focus-visible):after {
              display: none;
            }
          }
        }

        &[open] {
          > summary {
            margin-bottom: calc(var(#{$✨}spacing) * 0.5);

            &:not([role]):not(:focus) {
              color: inherit;
            }
          }
        }

        ul {
          border-left: var(#{$✨}border-width) solid var(#{$✨}muted-border-color);

          &:first-of-type {
            margin: 0;
            padding: 0;
          }

          li {
            margin: 0;
            padding: calc(var(#{$✨}nav-element-spacing-vertical) * 0.25) 0;

            a {
              margin: 0;
              margin-left: calc(var(#{$✨}border-width) * -1);
              padding: 0;
              padding-left: calc(var(#{$✨}nav-element-spacing-horizontal) * 1.5);
              border-left: var(#{$✨}border-width) solid transparent;
              border-radius: 0;
              font-weight: 400;
              transition: background-color var(#{$✨}transition), color var(#{$✨}transition),
                text-decoration var(#{$✨}transition), box-shadow var(#{$✨}transition),
                border-color var(#{$✨}transition), font-weight var(#{$✨}transition);

              &:hover {
                border-color: var(#{$✨}secondary-underline);
              }

              &[aria-current] {
                border-color: var(#{$✨}primary);
                color: var(#{$✨}primary-hover);
                font-weight: 600;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
