@use "sass:map";
@use "settings" as *;

/**
 * Docs: Header
 */

main {
  > hgroup {
    p.chapter {
      margin-bottom: calc(var(#{$css-var-prefix}spacing) * 0.25);
    }

    h1 {
      margin-bottom: calc(var(#{$css-var-prefix}spacing) * 0.5);
      font-family: "Figtree", var(#{$css-var-prefix}font-family);

      @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
        #{$css-var-prefix}font-size: 2.5rem;
      }

      @media (min-width: map.get(map.get($breakpoints, "xxl"), "breakpoint")) {
        h1 {
          #{$css-var-prefix}font-size: 3rem;
        }
      }
    }
  }
}
