@use "sass:map";
@use "settings" as *;

/**
 * Docs: Sectionning
 */

main {
  [role="document"] {
    article {
      footer {
        pre,
        pre code {
          margin-bottom: 0;
          padding: 0;
          background: transparent;
        }
      }
    }

    > .code pre,
    hgroup {
      @each $key, $values in $breakpoints {
        @if $values {
          @media (min-width: map.get($values, "breakpoint")) {
            $multiplier: 1;
            @if $key == "sm" {
              $multiplier: 1.25;
            } @else if $key == "md" {
              $multiplier: 1.5;
            } @else if $key == "lg" {
              $multiplier: 1.75;
            } @else if $key == "xl" {
              $multiplier: 2;
            }
            #{$✨}block-spacing-horizontal: calc(var(#{$✨}spacing) * $multiplier);
            #{$✨}block-spacing-vertical: calc(var(#{$✨}spacing) * $multiplier);
          }
        }
      }

      margin-bottom: var(#{$✨}block-spacing-vertical);
    }

    hgroup {
      margin-bottom: calc(var(#{$✨}block-spacing-vertical) * 2);
    }

    > .code pre {
      padding: calc(var(#{$✨}block-spacing-vertical) * 0.75) var(#{$✨}block-spacing-horizontal);
      background-color: var(#{$✨}card-background-color);
      box-shadow: var(#{$✨}card-box-shadow);

      code {
        padding-right: 0;
        padding-left: 0;
        background: transparent;
      }
    }

    > .code.small pre {
      padding: calc(var(#{$✨}block-spacing-vertical) * 0.25) var(#{$✨}block-spacing-horizontal);
    }
  }
}
