@use "sass:map";
@use "settings" as *;

#{$semantic-root-element} {
  overflow: hidden;

  > main {
    #{$css-var-prefix}homepage-spacing-vertical: calc(var(#{$css-var-prefix}spacing) * 5);
    #{$css-var-prefix}homepage-spacing-horizontal: calc(var(#{$css-var-prefix}spacing) * 3.5);
    @each $key, $values in $breakpoints {
      @if $values {
        @media (min-width: map.get($values, "breakpoint")) {
          $multiplier-vertical: 5;
          $multiplier-horizontal: 3.5;
          @if $key == "sm" {
            $multiplier-vertical: 6;
            $multiplier-horizontal: 4;
          } @else if $key == "md" {
            $multiplier-vertical: 7;
            $multiplier-horizontal: 4.5;
          } @else if $key == "lg" {
            $multiplier-vertical: 8;
            $multiplier-horizontal: 4;
          } @else if $key == "xl" {
            $multiplier-vertical: 9;
            $multiplier-horizontal: 5.5;
          } @else if $key == "xxl" {
            $multiplier-vertical: 10;
            $multiplier-horizontal: 6;
          }

          #{$css-var-prefix}homepage-spacing-vertical: calc(
            var(#{$css-var-prefix}spacing) * $multiplier-vertical
          );
          #{$css-var-prefix}homepage-spacing-horizontal: calc(
            var(#{$css-var-prefix}spacing) * $multiplier-horizontal
          );
        }
      }
    }
    padding: 0;

    &.is-loading {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-name: page-loading;
      opacity: 0.5;
    }
  }
}

@keyframes page-loading {
  from {
    opacity: 1;
  }
}

section {
  margin-block: var(#{$css-var-prefix}homepage-spacing-vertical);
}

#{$semantic-root-element} {
  section:last-child {
    margin-block-end: 0;
  }
}
