@use "sass:map";
@use "settings" as *;

/**
 * Page: Brand
 */

main#brand {
  .grid {
    > article {
      position: relative;

      img {
        display: block;
        aspect-ratio: 1;
        width: 66%;
        height: auto;
        margin: 0 auto;
      }

      footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 1rem;
        border: none;
        background: transparent;
        text-align: right;

        a {
          padding: 0.25rem 0.5rem;
          font-size: 14px;

          &:not(:last-child) {
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}
