@use "sass:map";
@use "settings" as *;

/**
 * Page: Grid
 */

main.page-grid {
  .btn-group {
    button {
      width: 100%;
      margin-bottom: var(#{$css-var-prefix}spacing);

      svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        transform: translateY(-0.125em);
      }

      @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
        width: auto;

        &:not(:last-child) {
          margin-right: var(#{$css-var-prefix}spacing);
        }
      }
    }
  }

  .grid {
    > div {
      padding: calc(var(#{$css-var-prefix}spacing) / 2) 0;
      border-radius: var(#{$css-var-prefix}border-radius);
      background-color: var(#{$css-var-prefix}code-background-color);
      color: var(#{$css-var-prefix}muted-color);
      font-size: 0.875rem;
      text-align: center;
    }
  }
}
