@use "sass:map";
@use "settings" as *;

/**
 * Page: Modal
 */

main.page-modal {
  article#modal-demo {
    button {
      display: block;
      width: 100%;
      margin-inline: auto;

      @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
        width: 50%;
        min-width: fit-content;
      }
    }
  }
}
