@use "sass:map";
@use "settings" as *;

/**
 * Page: Themes
 */

main#themes {
  article#theme-switcher {
    button {
      width: 100%;
      margin-inline: auto;

      @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
        width: 50%;
        min-width: fit-content;
      }
    }
  }
}
