@use "sass:map";
@use "settings" as *;

/**
 * Page: Typography
 */

main#typography {
  table#responsive-font-sizes {
    font-size: 16px;

    caption {
      display: none;
    }

    th,
    td {
      width: calc(100% / 7);
      padding: calc(var(#{$css-var-prefix}spacing) / 2);
      white-space: nowrap;
    }

    [data-tooltip] {
      border-bottom-color: var(#{$css-var-prefix}muted-color);

      &::before,
      &::after {
        font-size: 12px;
      }
    }
  }
}
