@use "colors" as *;
@use "settings" as *;

@mixin theme {
  // Aside
  #{$css-var-prefix}aside-link-current-background-color: #{$slate-50};

  // Color coded scale
  #{$css-var-prefix}scale-color-1: #{$jade-600};
  #{$css-var-prefix}scale-color-2: #{$lime-600};
  #{$css-var-prefix}scale-color-3: #{$amber-600};
  #{$css-var-prefix}scale-color-4: #{$pumpkin-600};
  #{$css-var-prefix}scale-color-5: #{$red-600};

  // Forced dark color scheme
  article {
    footer.code[data-theme="dark"] {
      #{$css-var-prefix}card-background-color: #{$slate-900};
      #{$css-var-prefix}card-border-color: var(#{$css-var-prefix}card-background-color);
      #{$css-var-prefix}card-box-shadow: var(#{$css-var-prefix}box-shadow);
      #{$css-var-prefix}card-sectioning-background-color: #{mix($slate-900, $slate-850)};
    }
  }
}
