@use "sass:map";
@use "settings" as *;

// Theme
@use "landings/theme/default";

// Layout
@use "landings/layout/landmarks";

// Homepage
@use "landings/homepage/hero";
@use "landings/homepage/demo";
@use "landings/homepage/stats";
@use "landings/homepage/features";
@use "landings/homepage/comparison";

// Examples
@use "landings/examples/hero" as examples-hero;
@use "landings/examples/examples" as examples-list;

// Content
@use "landings/content/typography";

// Utils
@use "landings/utils";

// Components
@use "landings/components/icon-arrow-right";
@use "landings/components/mark";
